Source: wifi-switcher
Section: net
Priority: optional
Maintainer: Oleg Shalaev <oleg@chalaev.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: http://chalaev.com/wifi-switcher
#Vcs-Git: git://anonscm.debian.org/collab-maint/wifi-switcher.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/wifi-switcher.git;a=summary

Package: wifi-switcher
Architecture: all
Depends: ${misc:Depends}, lsb-base, iproute2, wireless-tools, config-package-dev (>= 5.0), perl-tk, wpasupplicant, sudo, debconf (>= 0.2.17), po-debconf, sed (>= 4), apg, db-util, isc-dhcp-server (>= 4.3.1), vsftpd, hostapd, udhcpc
Recommends:  icewm | icewm-experimental | pdmenu, openssh-server
Provides: ${diverted-files}
Conflicts: network-manager, wicd, ${diverted-files}
Description: wifi-manager for icewm and pdmenu
 wifi-switcher is a simple alternative to wicd and network-manager.
 It uses icewm/pdmenu together with command-line text-mode utilities
 (hostapd, wpa_supplicant, udhcpc, vsftpd)
 to switch between wifi-networks and organize a wireless hotspot.
 Scans for newly detected wireless SSIDs, easily connects to previously unknown
 (unprotected and WPA2) networks.  (More sophisticated enterprise wireless
 configurations must be manually added to the wpasupplicant configuration file.)
 May work as a dynamic menu item with icewm or with pdmenu.  With pdmenu or
 standalone works as a console wifi-manager. Can setup its own ad-hoc network
 and work as an ftp-server (say, for a wifi-gadget).
